*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    padding: 0;
    margin: 0 auto;
    width: 100%;
    border: 1px solid teal;
    font-size: 1.1em;
    transition: 0.5s;
    /* background-image: linear-gradient(120deg,white,purple); */
}
.pagename{
    padding: 5px 20px;
    background-color: teal;
    height: 80px;
    display: flex;
    justify-content: space-between;
    }
h1,h2,h3,h4,h5{color: coral;}
.washie{
        color: white;
}
    .washie.slogan{font-size: medium;color:coral;font-weight: bold;}
    .washie.name{font-size: 25px;padding-top:10px;font-weight: 900;}
.pagename .menu{
         margin: 20px 0;
        color: white;
        display: none;
    }
.pagename .menu .bars{
    width: 30px;
    height: 3px;
    background-color: whitesmoke;
    border-radius: 5px;
    margin: 5px;
}
.close{
    font-weight:bolder;
     font-size:40px;
      text-align: center;
      display: none;
      margin:20px;
      color: white;
}
    
.navbox nav{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    transition: 0.5s;
    
}
nav a{
    text-decoration: none;
}
nav span{
    text-transform: capitalize;
    text-shadow: bisque;
    margin: 0 20px;
    width: 100px;
    text-align: center;
    padding: 1px 20px;
    line-height: 3;
    color: black;

}
nav span:hover{
    background-color:teal;
    color: white;
    transform: scale(1.2);
    transition: 1s;
}
.container{
    background-color: transparent;
    padding: 10px;
    background-image: url('/top.jfif');
    background-blend-mode: hue;
    background-size: cover;
    background-position: center;
    background-position:center;
    height: 80vh;
    animation: slide 10s ease infinite alternate-reverse;
    animation-delay: 3s;
}
@media screen and (max-width:600px){
    .container{
              height: 300px;
    }
}
@keyframes slide{
    from{background-image: url('/card.png');}
    to{background-color: black;}
}
.container span{
font-family: monospace;    position: relative;
    padding: 10px;
    font-weight: 1000;
    font-size: 2em;
    color: ivory;
    animation: random 20s ease infinite alternate-reverse;
}
@keyframes random{
    0%{top:0px;left: 0px;}
    25%{top:0%;left: 70%;font-size: 25px;}
    50%{top:70%;left: 70%;font-size: 25px;color: orangered;}
    75%{top:0%;left: 70%;font-size: 25px;color: teal;}
    100%{top:0%;left: 0%;font-size: 16px;}
}
p{padding: 10px; 
text-transform: initial;}
h3,h4{
    text-transform: capitalize;
}
.languages{
    display: flex;
    justify-content: space-evenly;
}
.box{
    padding: 10px;
}
p{text-transform: initial;}
footer{
    background-color: black;
    color: white;
    position: relative;
    bottom: 0;
    margin: 0;
    float: none;
    height: 160px;
    padding: 30px;
}
footer .sub{
        margin:10px auto;
        text-align: center;
}

@media screen and (max-width:600px){
    body{
        width: 100%;
        border: none;
        font-size: 1em;
    }
    .pagename .menu{
        display: block;
    }
    nav{
        height: 0;
    }
    nav span{
        display: none;
    }

}
.media.icons{
    text-align: center;
}
.media.icons a{
    text-decoration: none;
    color: white;
}
.media.icons i{
margin: 5px 10px;
text-align: center;
color: white;
}